{% extends 'base1.html' %}
{% load static from staticfiles %}

{% block content %}
<section class="page_breadcrumbs ds parallax section_padding_top_65 section_padding_bottom_65">
<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h2 class="highlight">About</h2>
		</div>
	</div>
</div>
</section>

<section id="about" class="ls section_padding_top_100 section_padding_bottom_150">
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 text-center">
							<h2 class="section_header with_icon">
								Welcome to Robust Cleaning & Garbage Company.
							</h2>
							<p class="small-text grey">More About Us</p>
							<p class="bottommargin_30">
					Robust cleaning and Garbage Company is registered and well stocked with equipment and staff that will enable carrying out the cleaning and garbage collection services in Masajja division council efficiently and effectively. The company acquired a planned dumping site within Entebbe Municipality-Nkumba for disposal of the collected garbage.


				</p>
				<p class="bottommargin_30">
					The Company is aimed at protecting and preserving the environment through aiding tree planting projects within the division by facilitating environmental sensitive activities within a period of three months.  The company is based on ensuring that garbage is properly disposed from the communities within the division. The company has trucks to extend such garbage collection services.

				</p>
				<p class="bottommargin_30">
					We look forward to working with Masajja Division Council

				</p>
							<!-- <img src="images/signature.png" alt="" /> -->
						</div>
					</div>
					<div class="row topmargin_40 columns_margin_top_60">
						<h2  style="padding-left: 400px;" >Services Offered</h2>
						<div class="col-md-4">
							<div class="teaser with_border rounded text-center">
								<div class="teaser_icon main_bg_color2 round size_small offset_icon">
									<i class="fa fa-leaf"></i>
								</div>
								<h4 class="poppins hover-color2">
									<a href="#">Corporate Services</a>
								</h4>
								<p>
						Guaranteed that all of your universal waste management is performed safely and responsibly.
					</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="teaser with_border rounded text-center">
								<div class="teaser_icon main_bg_color3 round size_small offset_icon">
									<i class="fa fa-inbox"></i>
								</div>
								<h4 class="poppins hover-color3">
									<a href="#">Convenient Pickup</a>
								</h4>
								<p>
						We offer business pickup services to safely recycle your waste in a safe manner.
					</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="teaser with_border rounded text-center">
								<div class="teaser_icon main_bg_color round size_small offset_icon">
									<i class="fa fa-calendar"></i>
								</div>
								<h4 class="poppins">
									<a href="#">Waste Events</a>
								</h4>
								<p>
						We work with businesses and other organizations to host community e-waste events.
					</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			


			<section id="reviews" class="ls section_padding_100">
				<div align="text-center">
					<h2  style="padding-left: 400px;" >COMPANY STRUCTURE</h2>
					<img src="{% static 'images/ew/structure.png' %}" style="padding-bottom: 20px;">
				</div>
			</section>

{% endblock %}